
#schedule{
    width: 100%;
    margin: auto;
}


#today-schedule-ulcover-div{

    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #faf2e3;
    font-size: 25px;
    border-radius: 10px;
    border:1px dashed gray;
    padding: 10px;
    overflow: scroll;
}

.inline-div{
    display: inline;
    font-style: italic;
    font-weight: bolder;
}

.major-heading-hr{
    height: 5px;
    background-color: lightskyblue;
    border-radius: 10px;
}

.major-heading{
    font-size: 30px;
    margin: 10px;
    color: mediumblue;
}

li{
    padding: 5px;
}

ul:empty:after {
    content: "Not updated yet";

    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }

#weekdays-wrap-div{
    width: fit-content;
    margin: auto;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    margin: 10px;

}


.card1{
    display: flex;
    height: 200px;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    border:1px dashed gray;
    overflow: hidden;
}

div[class $="image-div"]{
     flex: 4;
}


img{
    width: 100%;
    height: 100%;
}


.textincard{
    flex: 5;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
}




.button{
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    border-color: goldenrod;
    padding: 10px;
    float: right;
    cursor: pointer;
    text-align: justify;
}


#heading{
    background-color: #ecd6ae;
}

#heading  h1{
    padding: 30px;
    font-size: 40px;
    margin-left: 30px;
}

div[id $="day"] h2{
    margin: 30px;
    margin-bottom: 0px;
    font-size: 30px;
}

#modal-cover{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: scroll;
}

#modal{
    width: 70%;
    position: relative;
    background-color: white;
    margin: auto;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    bottom: 20px;
    /* overflow: scroll; */
    /* height: 100px; */

    
}

label{
    padding: 5px;
    margin: 10px;
}

select{
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
}

input{
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
}

#modal-update-changes-button{
    position: relative;
    left: calc( 100% - 200px);
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    float: none;
    font-weight: bolder;
}

#modal-close-button{
    float: right;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    
}

#modal-add-button{
    font-size: 25px;
    border-color: blue;
    border-radius: 2px;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}


/* To Do : Button layout by div */